@{
    ViewData["Title"] = "Add Movie";
}
@model Movies
<div class="text-center">
    <h1>Add A New Movie</h1>
</div>
<div class="text-center">
    <!--Start From-->
    <form method="post">
        <div class="row">
            <!--Category  -->
            <div class="col-6 form-group">
                <label asp-for="CategoryId">Category</label>
                <br />
                <select asp-for="CategoryId" class="form-control">
                    <option value="">Select a Category</option>
                    @foreach (Category r in ViewBag.Category)
                    {
                        <option value="@r.CategoryId">@r.cName</option>
                    }
                </select>
                <br />
                <span asp-validation-for="CategoryId" class="text-danger"></span><br /><br />
            </div>

            <!-- Title -->
            <div class="col-6 form-group">
                <label asp-for="Title">Title</label>
                <br />
                <input asp-for="Title" class="form-control" />
                <br />
                <span asp-validation-for="Title" class="text-danger"></span><br /><br />
            </div>

            <!-- Year -->
            <div class="col-6 form-group">
                <label asp-for="Year">Year</label>
                <br />
                <input asp-for="Year" class="form-control" />
                <br />
                <span asp-validation-for="Year" class="text-danger"></span><br /><br />
            </div>

            <!-- Director -->
            <div class="col-6 form-group">
                <label asp-for="Director">Director</label>
                <br />
                <input asp-for="Director" class="form-control" />
                <br />
                <span asp-validation-for="Director" class="text-danger"></span><br /><br />
            </div>

            <!-- Rating -->
            <div class="col-6 form-group">
                <label asp-for="RatingId">Rating</label>
                <br />
                <select asp-for="RatingId" class="form-control">
                    <option value="">Select a Rating</option>
                    @foreach (Rating r in ViewBag.Rating)
                    {
                        <option value="@r.RatingId">@r.rateName</option>
                    }
                </select>
                <br />
                <span asp-validation-for="RatingId" class="text-danger"></span><br /><br />
            </div>

            <!-- edited -->
            <div class="col-6 form-group">
                <label asp-for="Edited">Edited</label>
                <br />
                <select asp-for="Edited" class="form-control">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <br />
            </div>

            <!-- LentTo -->
            <div class="col-6 form-group">
                <label asp-for="LentTo">Lent To</label>
                <br />
                <input asp-for="LentTo" class="form-control" />
                <br />
            </div>

            <!-- Notes -->
            <div class="col-6 form-group">
                <label asp-for="Notes">Notes</label>
                <br />
                <input asp-for="Notes" class="form-control" />
                <br />
                <br />
            </div>

            <!-- Submit -->
            <div class="col-12">
                <br />
                <input class="btn btn-primary btn-large" type="submit" value="Save" />
            </div>
        </div>


    </form>
</div>