@{
    ViewData["Title"] = "Podcasts";
}
<div class="text-center">
    <h1>Check Out Baconsale Podcasts</h1>
    <br />
    <a href="https://baconsale.com/" target="_blank">Visit the Baconsale Podcast Here</a>
</div>